Repository keving1239/savory: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: BuildJob
      steps:
      - task: Maven@4
        inputs:
          mavenPomFile: $(System.DefaultWorkingDirectory)/SavorySpringAPI/pom.xml
          goals: clean install compile package
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: BuildJob
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 14.x
        displayName: Install Node.js
      - script: 'npm install
  
          '
        displayName: npm install
  ...

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

.env and test
  SavoryApp/src/modules/pages/Post/Post.edit.test.tsx
  SavoryApp/src/modules/pages/Post/Post.edit.tsx
Due: azure-pipelines.yml

final touchups
  SavoryApp/package-lock.json
  SavoryApp/package.json
  SavoryApp/src/app/App.theme.tsx
  SavoryApp/src/modules/pages/Post/Post.create.test.tsx
  SavoryApp/src/modules/pages/Post/Post.create.tsx
  SavoryApp/src/modules/pages/Post/Post.edit.tsx
  SavoryApp/src/modules/pages/Profile/Profile.edit.tsx
  SavoryApp/src/modules/pages/Profile/Profile.test.tsx
  SavoryApp/src/modules/pages/Profile/Profile.tsx
  SavoryApp/src/modules/pages/Profile/Settings.tsx
  SavoryApp/src/modules/shared/Error404.tsx
  SavoryApp/src/modules/shared/Feed.tsx
  SavoryApp/src/modules/shared/LoadingAccount.tsx
  SavoryApp/src/modules/shared/Navbar.tsx
  SavoryApp/src/redux/Recipes/recipes-slice.ts
Due: azure-pipelines.yml

PostEdit Integrate with Setup
  SavoryApp/src/modules/pages/Post/Post.edit.test.tsx
Due: azure-pipelines.yml

NavBarTest Integrate with Setup
  SavoryApp/src/modules/shared/Navbar.test.tsx
Due: azure-pipelines.yml

Added Report Page and Interaction ToolTips
  SavoryApp/src/modules/Router.tsx
  SavoryApp/src/modules/pages/Profile/Profile.tsx
  SavoryApp/src/modules/pages/Report.tsx
  SavoryApp/src/modules/shared/Feed.tsx
Due: azure-pipelines.yml

Update README.md
  README.md
Due: none

Update application.properties
  SavorySpringAPI/src/main/resources/application.properties
Due: azure-pipelines-1.yml

Update index.tsx
  SavoryApp/src/index.tsx
Due: azure-pipelines.yml

Update setupTests.tsx
  SavoryApp/src/setupTests.tsx
Due: azure-pipelines.yml

Update application-dev.properties
  SavorySpringAPI/src/main/resources/application-dev.properties
Due: azure-pipelines-1.yml

Path conditions:
  azure-pipelines-1.yml: any of: SavorySpringAPI
  azure-pipelines.yml: any of: SavoryApp
