Repository keving1239/savory: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-1.yml, azure-pipelines.yml

azure-pipelines-1.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: BuildJob
      steps:
      - task: Maven@3
        inputs:
          mavenPomFile: $(System.DefaultWorkingDirectory)/SavorySpringAPI/pom.xml
          goals: clean install compile package
  ...

azure-pipelines.yml:
  pool:
    vmImage: windows-latest
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: BuildJob
      steps:
      - task: NodeTool@0
        inputs:
          versionSpec: 14.x
        displayName: Install Node.js
      - task: Maven@4
        inputs:
  ...

front end integration test working
  SavoryApp/package.json
  SavoryApp/src/modules/pages/Profile/Profile.test.tsx
  SavoryApp/src/redux/Recipes/recipes-slice.ts
  SavoryApp/src/redux/Theme/theme-slice.ts
Due: azure-pipelines.yml

java web config
  SavorySpringAPI/web.config
Due: azure-pipelines-1.yml, azure-pipelines.yml

add jar
  SavorySpringAPI/web.config
  azure-pipelines-1.yml
Due: azure-pipelines-1.yml, azure-pipelines.yml

Adding PostControllerUnitTest fix
  SavoryApp/src/modules/shared/Feed.test.tsx
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/post/PostControllerTest.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

backend unit test
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/post/PostControllerUsernameTest.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

ubuntu
  azure-pipelines-1.yml
Due: none

simple backend integration test
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/interaction/InteractionControllerIntTest.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

Added FE Unit and Integration Testing for Navbar
  SavoryApp/src/app/App.test.tsx
  SavoryApp/src/modules/notification/notification.handlet.tsx
  SavoryApp/src/modules/shared/Navbar.test.tsx
  SavoryApp/src/modules/shared/Navbar.tsx
  SavoryApp/src/reportWebVitals.ts
  SavoryApp/src/setupTests.ts
  SavoryApp/src/setupTests.tsx
  SavorySpringAPI/src/main/java/com/savory/savoryAPI/post/PostsURepository.java
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/person/PersonIntegrationTest.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

Restructured Redux Store
  SavoryApp/src/app/App.theme.tsx
  SavoryApp/src/app/App.tsx
  SavoryApp/src/index.tsx
  SavoryApp/src/modules/pages/Post/Post.create.tsx
  SavoryApp/src/modules/pages/Post/Post.edit.tsx
  SavoryApp/src/modules/pages/Profile/Profile.edit.tsx
  SavoryApp/src/modules/pages/Profile/Profile.tsx
  SavoryApp/src/modules/pages/Profile/Settings.tsx
  SavoryApp/src/modules/pages/Splash.tsx
  SavoryApp/src/modules/shared/Feed.tsx
  SavoryApp/src/modules/shared/LoadingAccount.tsx
  SavoryApp/src/redux/Recipes/recipes-slice.ts
  SavoryApp/src/redux/store.ts
Due: azure-pipelines.yml

Auth Verifier now ensures jwt is from our Auth0 JWT Issuer
  SavorySpringAPI/.idea/dataSources.xml
  SavorySpringAPI/src/main/java/com/savory/savoryAPI/authorization/AuthVerifier.java
  SavorySpringAPI/src/main/resources/application.properties
Due: azure-pipelines-1.yml, azure-pipelines.yml

Updated to Post.create.test.tsx to match setupTests.tsx changes
  SavoryApp/src/modules/pages/Post/Post.create.test.tsx
  SavoryApp/src/modules/pages/Post/Post.create.tsx
Due: azure-pipelines.yml

Updated Profile.test.tsx to match changes in setupTests.tsx
  SavoryApp/src/modules/pages/Profile/Profile.test.tsx
  SavoryApp/src/modules/shared/LoadingAccount.tsx
  SavoryApp/src/modules/shared/Navbar.test.tsx
  SavoryApp/src/setupTests.tsx
Due: azure-pipelines.yml

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: none

Adding Progress on Feed and PostControllerTest
  SavoryApp/src/modules/shared/Feed.test.tsx
Due: azure-pipelines.yml

added front end unit test
  SavoryApp/src/modules/pages/Profile/Profile.test.tsx
Due: azure-pipelines.yml

Update azure-pipelines-1.yml for Azure Pipelines
  azure-pipelines-1.yml
Due: none

Adding Just Feed.test and Edited PostControllerTest
  SavoryApp/src/modules/shared/Feed.test.tsx
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/post/PostControllerTest.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

authcontroller test
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/authorization/AuthControllerIntTest.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

maven 17
  SavorySpringAPI/pom.xml
  SavorySpringAPI/target/classes/com/savory/savoryAPI/OpenAPIConfiguration.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/SavoryApiApplication.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/PersonController.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/PersonRepository.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/PersonService.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/dto/PersonDto$PersonDtoBuilder.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/dto/PersonDto.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/entity/Person.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/util/PersonUtil.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/PostController.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/PostRepository.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/PostService.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/dto/PostsDto$PostsDtoBuilder.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/dto/PostsDto.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/entity/Posts$PostsBuilder.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/entity/Posts.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/util/PostsUtil.class
Due: azure-pipelines-1.yml, azure-pipelines.yml

pom changes
  SavorySpringAPI/pom.xml
Due: azure-pipelines-1.yml, azure-pipelines.yml

security config
  SavorySpringAPI/src/main/java/com/savory/savoryAPI/CorsConfig.java
  SavorySpringAPI/src/main/java/com/savory/savoryAPI/authorization/SecurityConfig.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

FE authcontroller
  SavorySpringAPI/src/main/java/com/savory/savoryAPI/authorization/AuthController.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

backend personcont
  SavorySpringAPI/src/main/java/com/savory/savoryAPI/person/PersonController.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

fe
  SavorySpringAPI/src/main/java/com/savory/savoryAPI/person/PersonController.java
Due: azure-pipelines-1.yml, azure-pipelines.yml

feed changes for backend
  SavoryApp/src/modules/shared/Feed.tsx
Due: azure-pipelines.yml

auth
  SavoryApp/src/modules/shared/LoadingAccount.tsx
Due: azure-pipelines.yml

fe changes
  SavoryApp/src/modules/pages/Post/Post.edit.tsx
  SavoryApp/src/modules/pages/Profile/Profile.edit.tsx
  SavoryApp/src/modules/pages/Profile/Profile.test.tsx
  SavoryApp/src/modules/pages/Profile/Profile.tsx
  SavoryApp/src/modules/shared/Feed.test.tsx
  SavoryApp/src/redux/Interactions/interactions-slice.ts
  SavoryApp/src/redux/Recipes/recipes-slice.ts
  SavoryApp/src/redux/User/user-slice.ts
Due: azure-pipelines.yml

process.env_URL
  README.md
  SavoryApp/src/modules/pages/Post/Post.edit.tsx
  SavoryApp/src/modules/pages/Profile/Profile.edit.tsx
  SavoryApp/src/modules/pages/Profile/Profile.test.tsx
  SavoryApp/src/modules/pages/Profile/Profile.tsx
  SavoryApp/src/modules/pages/Splash.tsx
  SavoryApp/src/modules/shared/Feed.test.tsx
  SavoryApp/src/modules/shared/Feed.tsx
  SavoryApp/src/modules/shared/LoadingAccount.tsx
  SavoryApp/src/redux/Interactions/interactions-slice.ts
  SavoryApp/src/redux/Recipes/recipes-slice.ts
  SavoryApp/src/redux/User/user-slice.ts
Due: azure-pipelines.yml

package
  SavoryApp/package.json
Due: azure-pipelines.yml

fixed variable strings in interaction slice
  SavoryApp/src/redux/Interactions/interactions-slice.ts
Due: azure-pipelines.yml

add new recipe
  SavoryApp/src/redux/Recipes/recipes-slice.ts
Due: azure-pipelines.yml

Final Testing Update
  SavoryApp/.env
  SavoryApp/package-lock.json
  SavoryApp/src/modules/pages/Post/Post.create.test.tsx
  SavoryApp/src/modules/pages/Profile/Profile.test.tsx
  SavoryApp/src/modules/shared/Feed.test.tsx
  SavoryApp/src/modules/shared/Navbar.test.tsx
  SavoryApp/src/modules/shared/Navbar.tsx
  SavoryApp/src/setupTests.tsx
  SavorySpringAPI/src/main/java/com/savory/savoryAPI/authorization/SecurityConfig.java
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/person/PersonControllerIntTest.java
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/person/PersonControllerTest.java
  SavorySpringAPI/src/test/java/com/savory/savoryAPI/person/PersonIntegrationTest.java
  SavorySpringAPI/target/classes/com/savory/savoryAPI/OpenAPIConfiguration.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/SavoryApiApplication.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/PersonController.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/PersonRepository.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/PersonService.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/dto/PersonDto$PersonDtoBuilder.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/dto/PersonDto.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/entity/Person.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/person/util/PersonUtil.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/PostController.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/PostRepository.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/PostService.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/dto/PostsDto$PostsDtoBuilder.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/dto/PostsDto.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/entity/Posts$PostsBuilder.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/entity/Posts.class
  SavorySpringAPI/target/classes/com/savory/savoryAPI/post/util/PostsUtil.class
Due: azure-pipelines-1.yml, azure-pipelines.yml

Navbar Test Fix
  SavoryApp/src/modules/shared/Navbar.test.tsx
Due: azure-pipelines.yml

Hopefully Last Navbar Test Fix
  SavoryApp/src/modules/shared/Navbar.test.tsx
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-1.yml: any of: SavorySpringAPI
  azure-pipelines.yml: any of: SavoryApp, SavorySpringAPI
